# Data Creation

### 1. Reading in the Data

In [1]:
import pandas as pd           #Initialising the needed libaries

In [2]:
#Data with the Universities
# data = pd.read_csv(r"\Users\jaho3\OneDrive\Documents\group-3\archive\cwurData.csv")#, usecols = ['world_rank',"institution","country", "national_rank", "quality_of_education", "quality_of_faculty", "year"])   
data = pd.read_csv(r"cwurData.csv")

In [4]:
data["has_u"] = data["institution"].str.contains("u")

In [32]:
def get_balcony_percentage_by_city(city_entries: pd.Series) -> float:
    vc = city_entries.value_counts(normalize = True)
    if True in vc:
        return vc[True]
    else:
        return 1 - vc[False]

placeholder = data.groupby("country")["has_u"].apply(get_balcony_percentage_by_city)

In [34]:
data.groupby("country")["has_u"].apply(get_balcony_percentage_by_city).reset_index()

                 country     has_u
0              Argentina  0.285714
1              Australia  0.448276
2                Austria  0.333333
3                Belgium  0.500000
4                 Brazil  0.333333
5               Bulgaria  0.000000
6                 Canada  0.277778
7                  Chile  0.000000
8                  China  0.389222
9               Colombia  0.000000
10               Croatia  0.000000
11                Cyprus  1.000000
12        Czech Republic  0.800000
13               Denmark  0.333333
14                 Egypt  0.250000
15               Estonia  1.000000
16               Finland  0.200000
17                France  0.477064
18               Germany  0.478261
19                Greece  0.000000
20             Hong Kong  0.000000
21               Hungary  0.166667
22               Iceland  0.000000
23                 India  0.806452
24                  Iran  0.000000
25               Ireland  0.500000
26                Israel  0.636364
27                 Italy  0.208333
28                 Japan  0.339623
29               Lebanon  1.000000
30             Lithuania  1.000000
31              Malaysia  0.333333
32                Mexico  1.000000
33           Netherlands  0.206897
34           New Zealand  0.333333
35                Norway  0.000000
36                Poland  0.111111
37              Portugal  0.000000
38           Puerto Rico  1.000000
39               Romania  0.666667
40                Russia  0.444444
41          Saudi Arabia  1.000000
42                Serbia  0.000000
43             Singapore  0.000000
44       Slovak Republic  1.000000
45              Slovenia  0.500000
46          South Africa  0.200000
47           South Korea  0.541667
48                 Spain  0.308642
49                Sweden  0.500000
50           Switzerland  0.692308
51                Taiwan  0.543478
52              Thailand  0.333333
53                Turkey  0.300000
54                   USA  0.287958
55                Uganda  0.000000
56  United Arab Emirates  0.000000
57        United Kingdom  0.194444
58               Uruguay  1.000000

In [3]:
#Data with Appartment Info
appartments = pd.read_csv(r"\Users\jaho3\Downloads\archive (3)\immo_data.csv", usecols = ['regio1','serviceCharge','balcony','telekomUploadSpeed','totalRent', "yearConstructed", "hasKitchen","cellar", "baseRent","livingSpace","petsAllowed", "lift","noRooms", "garden", "regio2", "regio3" ])
#appartments = pd.read_csv(r"data/immo_data.csv", usecols = ['regio1','serviceCharge','balcony','telekomUploadSpeed','totalRent', "yearConstructed", "hasKitchen","cellar", "baseRent","livingSpace","petsAllowed", "lift","noRooms", "garden", "regio2", "regio3" ])

In [4]:
#Data with Population Info
#population_data=pd.read_csv("data/Deutschland_Cities.csv")
population_data=pd.read_csv(r"\Users\jaho3\Downloads\TechLabs\TechLabs\Deutschland_Cities.csv")

In [5]:
data.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [14]:
appartments.head()

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen

In [15]:
population_data.head()

importnumpy
pd.DataFrame()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0

### 2. Preparing the Data

##### 2.1. Universities

In [6]:
#Shrinking the Dataset to just Universities from Germany
data = data[data["country"] == "Germany"]

In [7]:
#Creating a "city"-column via the city names inside the institution names
regex = "(University of [a-zA-ZüäöÖÄÜ]+)"
data["city"] = data["institution"].str.extract(regex)
data["city"] = data["city"].str.replace("University of ", "")
data.loc[data["city"].str.contains("technology", case = False, na = False), "city"] = pd.NA

In [8]:
#Problem: There are still NaN Values, but only 30 
data["city"].value_counts(dropna = False)

NaN           30
Munich         7
Berlin         6
Heidelberg     4
Erlangen       2
Würzburg       2
Oldenburg      2
Hanover        2
Mainz          2
Düsseldorf     2
Bayreuth       2
Augsburg       2
Ulm            2
Duisburg       2
Dortmund       2
Göttingen      2
Konstanz       2
Siegen         2
Münster        2
Mannheim       2
Hohenheim      2
Kiel           2
Halle          2
Marburg        2
Potsdam        2
Greifswald     2
Hamburg        2
Bremen         2
Osnabrück      2
Tübingen       2
Cologne        2
Regensburg     2
Jena           2
Stuttgart      2
Lübeck         2
Bonn           2
Rostock        2
Freiburg       2
Name: city, dtype: int64

In [9]:
#So we added the missing Values just manually (Manually because of names like "Dresden University of Technology" or "Justus Liebig University Giessen" which are to different to use the other method )
data.to_excel("data/city.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'data/city.xlsx'

After manually adding the values, we have renamed the city file into city_complete so that our manuall changes will not be overwritten.

In [13]:
#Now we just read in the data again with the name uni_cities
uni_cities=pd.read_excel(r"data/city_complete.xlsx")

In [14]:
uni_cities["city"].value_counts(dropna = False)

Munich            7
Berlin            6
Heidelberg        4
Bremen            3
Kiel              3
Mannheim          2
Halle             2
Jena              2
Giessen           2
Saarbrücken       2
Dortmund          2
Konstanz          2
Rostock           2
Bielefeld         2
Hanover           2
Magdeburg         2
Potsdam           2
Osnabrück         2
Marburg           2
Braunschweig      2
Kaiserslautern    2
Augsburg          2
Lübeck            2
Hohenheim         2
Greifswald        2
Siegen            2
Bayreuth          2
Regensburg        2
Darmstadt         2
Bochum            2
Bonn              2
Freiburg          2
Tübingen          2
Frankfurt         2
Göttingen         2
Hamburg           2
Cologne           2
Münster           2
Erlangen          2
Karlsruhe         2
Würzburg          2
Dresden           2
Mainz             2
Düsseldorf        2
Ulm               2
Hannover          2
Leipzig           2
Stuttgart         2
Duisburg          2
Oldenburg         2
Aachen            1
Chemnitz          1
Name: city, dtype: int64

In [15]:
uni_cities.head()

,Unnamed: 0,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,Munich
2,89,90,Technical University of Munich,Germany,3,52,101,2012,Munich
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,Munich
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg

In [16]:
#Just rename the old index column if we maybe need it later to compare something
uni_cities.rename(columns={"Unnamed: 0":"old_index"}, inplace=True)

In [17]:
#Replace "Munich" with "München" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Munich", "München")

In [18]:
#Replace "Cologne" with "Köln" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Cologne", "Köln")

In [19]:
#Replace "Hanover" with "Hannover" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Hanover", "Hannover")

In [20]:
#Replace "Frankfurt" with "Frankfurt am Main" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Frankfurt", "Frankfurt am Main")

In [21]:
#Replace "Marburg" with "Marburg Biedenkopf" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Marburg", "Marburg Biedenkopf")

In [22]:
#Replace "Siegen" with "Siegen Wittgenstein" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Siegen", "Siegen Wittgenstein")

In [23]:
#Replace "Hohenheim" with "Stuttgart" because the University of Hohenheim is in Stuttgart
uni_cities["city"]=uni_cities["city"].str.replace("Hohenheim", "Stuttgart")

In [24]:
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg
...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim

##### 2.2. Appartment Data

In [16]:
appartments

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,True,10.0,910.0,2016.0,False,True,820.0,90.00,no,False,3.0,False,Weilheim_Schongau_Kreis,Eberfing
268846,Hessen,220.00,True,NaN,1150.0,1983.0,True,False,930.0,115.00,negotiable,False,3.5,False,Bergstraße_Kreis,Viernheim
268847,Hessen,220.00,True,40.0,930.0,1965.0,False,True,650.0,95.00,negotiable,False,4.0,True,Limburg_Weilburg_Kreis,Limburg_an_der_Lahn
268848,Nordrhein_Westfalen,175.00,True,NaN,1015.0,2019.0,False,True,840.0,70.00,no,True,2.0,False,Köln,Dellbrück
268849,Hessen,315.00,True,NaN,NaN,1972.0,True,True,935.0,77.00,NaN,True,3.0,False,Frankfurt_am_Main,Sossenheim

To combine the Appartment Data with the University Data we need to adjust the City column (regio2)

In [17]:
#First problem is that in regio2 words are seperated via "_" and not with an space
appartments["regio2"]=appartments["regio2"].str.replace("_", " ")

In [18]:
#Next problem is that in regio2 words are seperated via "_" and not with an space
appartments["regio2"]=appartments["regio2"].str.replace("ß", "ss")

In [19]:
#Next problem is that in regio2 "Halle" is called "Halle Saale"
appartments["regio2"]=appartments["regio2"].str.replace("Halle Saale", "Halle")

In [20]:
#Next problem is that in regio2 "Freiburg" is called "Freiburg im Breisgau"
appartments["regio2"]=appartments["regio2"].str.replace("Freiburg im Breisgau", "Freiburg")

In [21]:
#Next problem is that in regio2 some Citys are split into regions so we delete "Kreis" 
appartments["regio2"]=appartments["regio2"].str.replace(" Kreis", "")

In [22]:
#Next problem is that in regio2 the city Saarbrücken is called "Stadtverband Saarbrücken" 
appartments["regio2"]=appartments["regio2"].str.replace("Stadtverband ", "")

In [23]:
#The changes have worked
appartments["regio2"].unique()

array(['Dortmund', 'Rhein Pfalz', 'Dresden', 'Mittelsachsen', 'Bremen',
       'Schleswig Flensburg', 'Emmendingen', 'Gelsenkirchen', 'Chemnitz',
       'Südliche Weinstrasse', 'Hamm', 'Weimar', 'Main Kinzig',
       'Duisburg', 'Göttingen', 'Neumünster', 'Stuttgart', 'Leipzig',
       'München', 'Hamburg', 'Braunschweig', 'Esslingen', 'Magdeburg',
       'Schwerin', 'Passau', 'Mettmann', 'Vogtlandkreis', 'Gross Gerau',
       'Sächsische Schweiz Osterzgebirge', 'Görlitz',
       'Rheinisch Bergischer', 'Essen', 'Meissen', 'Mannheim',
       'Wesermarsch', 'Hochsauerlandkreis', 'Unna', 'Bautzen', 'Berlin',
       'Frankfurt am Main', 'Halle', 'Steinburg', 'Aschaffenburg',
       'Oder Spree', 'Bremerhaven', 'Zwickau', 'Nordsachsen',
       'Mansfeld Südharz', 'Alzey Worms', 'Giessen', 'Main Taunus',
       'Wuppertal', 'Viersen', 'Düsseldorf', 'Gera', 'Böblingen',
       'Würzburg', 'Kitzingen', 'Stendal', 'Nordvorpommern', 'Rhein Erft',
       'Mülheim an der Ruhr', 'Heilbronn', 'Hersfeld Rotenburg', 'Aachen',
       'Erzgebirgskreis', 'Baden Baden', 'Tuttlingen', 'Nürnberg',
       'Heinsberg', 'Remscheid', 'Märkisch Oderland', 'Wiesbaden',
       'Wetteraukreis', 'Kassel', 'Bielefeld', 'Salzlandkreis', 'Harburg',
       'Höxter', 'Germersheim', 'Brandenburg an der Havel', 'Aurich',
       'Herzogtum Lauenburg', 'Karlsruhe', 'Frankenthal Pfalz',
       'Rheingau Taunus', 'Nordwestmecklenburg', 'Ostvorpommern', 'Emden',
       'Rems Murr', 'Altmarkkreis Salzwedel', 'Straubing', 'Peine',
       'Paderborn', 'Düren', 'Fürstenfeldbruck', 'Kiel',
       'Unstrut Hainich', 'Ludwigslust', 'Flensburg', 'Borken', 'Krefeld',
       'Lörrach', 'Saalekreis', 'Wesel', 'Recklinghausen', 'Hagen',
       'Grafschaft Bentheim', 'Goslar', 'Bergstrasse', 'Börde', 'Potsdam',
       'Kusel', 'Burgenlandkreis', 'Holzminden', 'Bad Doberan',
       'Biberach', 'Coburg', 'Köln', 'Dessau Rosslau', 'Harz',
       'Ludwigsburg', 'Herne', 'Bad Dürkheim', 'Wittenberg', 'Fürth',
       'Eichstätt', 'Bochum', 'Pfaffenhofen an der Ilm', 'Märkischer',
       'Trier', 'Rhein Sieg', 'Hannover', 'Limburg Weilburg',
       'Mönchengladbach', 'Bonn', 'Anhalt Bitterfeld', 'Herford',
       'Neuss Rhein', 'Plauen', 'Soest', 'Erding', 'Dahme Spreewald',
       'Mainz', 'Kleve', 'Reutlingen', 'Offenbach', 'Segeberg', 'Emsland',
       'Hochtaunuskreis', 'Schwarzwald Baar', 'Oberbergischer',
       'Wunsiedel im Fichtelgebirge', 'Hildburghausen', 'Wismar',
       'Pirmasens', 'Schmalkalden Meiningen', 'Ostalbkreis',
       'Oldenburg Oldenburg', 'Mayen Koblenz', 'Ennepe Ruhr', 'Uckermark',
       'Mainz Bingen', 'Erfurt', 'Helmstedt', 'Pinneberg', 'Gütersloh',
       'Starnberg', 'Siegen Wittgenstein', 'Fulda',
       'Oberspreewald Lausitz', 'Göppingen', 'Werra Meissner', 'Lüneburg',
       'Wilhelmshaven', 'Wolfsburg', 'Northeim', 'Rhein Lahn', 'Freising',
       'Lübeck', 'Minden Lübbecke', 'Rastatt', 'Unterallgäu', 'Eisenach',
       'Spree Neisse', 'Bad Tölz Wolfratshausen', 'Rendsburg Eckernförde',
       'Augsburg', 'Neustadt a.d. Aisch Bad Windsheim', 'Oberhavel',
       'Schwalm Eder', 'Stralsund', 'Prignitz', 'Hoyerswerda',
       'Straubing Bogen', 'Darmstadt Dieburg', 'Landshut', 'Cochem Zell',
       'Bad Kreuznach', 'Solingen', 'Heidelberg', 'Hof', 'Neubrandenburg',
       'Osnabrück', 'Donau Ries', 'Güstrow', 'Plön', 'Koblenz',
       'Alb Donau', 'Heidenheim', 'Bodenseekreis', 'Teltow Fläming',
       'Westerwaldkreis', 'Celle', 'Potsdam Mittelmark', 'Hildesheim',
       'Verden', 'Rhein Neckar', 'Havelland', 'Dachau', 'Rotenburg Wümme',
       'Ostholstein', 'Pforzheim', 'Suhl', 'Stormarn', 'Eichsfeld',
       'Darmstadt', 'Regensburg', 'Nordhausen', 'Sonneberg', 'Cottbus',
       'Forchheim', 'Erlangen', 'Nienburg Weser', 'Waldeck Frankenberg',
       'Dithmarschen', 'Diepholz', 'Deggendorf', 'Oberhausen',
       'Neustadt an der Weinstrasse', 'Münster', 'Osterode am Harz',
       'Freudenstadt', 'Marburg Biedenkopf', 'Stade', 'Birkenfeld',
       'Cuxhaven', 'Rottal Inn', 'Rügen', 'Gotha', 'Offenbach am Main',
       'Saarbrücken', 'Kyffhäuserkreis', 'Freiburg', 'Ravensburg',
       'Hameln Pyrmont', 'Saalfeld Rudolstadt', 'Rostock', 'Saarlouis',
       'Parchim', 'Schwäbisch Hall', 'Bamberg', 'Weilheim Schongau',
       'Lippe', 'Müritz', 'Steinfurt', 'Traunstein', 'Ebersberg',
       'Neuwied', 'Kelheim', 'Weimarer Land', 'Saarpfalz', 'Vechta',
       'Bitburg Prüm', 'Ahrweiler', 'Greifswald', 'Calw', 'Gifhorn',
       'Uelzen', 'Altenburger Land', 'Ilm', 'Trier Saarburg', 'Lahn Dill',
       'Worms', 'Berchtesgadener Land', 'Breisgau Hochschwarzwald',
       'Oldenburg', 'Barnim', 'Erlangen Höchstadt', 'Main Spessart',
       'Rosenheim', 'Bottrop', 'Ludwigshafen am Rhein', 'Elbe Elster',
       'Warendorf', 'Mecklenburg Strelitz', 'Jerichower Land',
       'Lüchow Dannenberg', 'Greiz', 'Euskirchen', 'Kaiserslautern',
       'Salzgitter', 'Weissenburg Gunzenhausen', 'Ulm', 'Altötting',
       'Landsberg am Lech', 'Günzburg', 'Amberg Sulzbach',
       'Wartburgkreis', 'Neu Ulm', 'Lichtenfels', 'Friesland', 'Tübingen',
       'Zollernalbkreis', 'Enzkreis', 'Miltenberg', 'Schaumburg',
       'Waldshut', 'Delmenhorst', 'Bayreuth', 'Jena', 'Sömmerda',
       'Nordfriesland', 'Leer', 'Dillingen an der Donau',
       'Nürnberger Land', 'Ostprignitz Ruppin', 'Ingolstadt',
       'Bad Kissingen', 'Saale Holzland', 'Kaufbeuren', 'Speyer',
       'Ansbach', 'Ammerland', 'Rottweil', 'Mühldorf am Inn',
       'Weiden in der Oberpfalz', 'Frankfurt Oder',
       'Garmisch Partenkirchen', 'Main Tauber', 'Ostallgäu', 'Leverkusen',
       'Neumarkt in der Oberpfalz', 'Aichach Friedberg', 'Neunkirchen',
       'Coesfeld', 'Lindau Bodensee', 'Ortenaukreis', 'Rhein Hunsrück',
       'Osterholz', 'Merzig Wadern', 'Heidekreis', 'Wolfenbüttel',
       'Dingolfing Landau', 'Südwestpfalz', 'Bernkastel Wittlich',
       'Schweinfurt', 'Demmin', 'Miesbach', 'Konstanz', 'Tirschenreuth',
       'Neckar Odenwald', 'Altenkirchen Westerwald',
       'Soltau Fallingbostel', 'Landau in der Pfalz', 'Uecker Randow',
       'Zweibrücken', 'Neuburg Schrobenhausen', 'Amberg',
       'Donnersbergkreis', 'Cloppenburg', 'Hohenlohekreis', 'Roth',
       'Vulkaneifel', 'Vogelsbergkreis', 'Schwandorf', 'Cham',
       'Sigmaringen', 'Oberallgäu', 'Regen', 'Memmingen',
       'Kempten Allgäu', 'Freyung Grafenau', 'Odenwaldkreis', 'Olpe',
       'Saale Orla', 'Sankt Wendel', 'Kulmbach', 'Schwabach', 'Wittmund',
       'Hassberge', 'Rhön Grabfeld', 'Kronach', 'Neustadt a.d. Waldnaab'],
      dtype=object)

In [24]:
#The Appartments Data is grouped by the city so we can aggregate the rent and so on per City
app_city=appartments.groupby(["regio2"])

The mean total Rent per City

In [25]:
#Here we save the grouping of the total Rent by city as "meanofcityRent" and take the mean
meanofcityRent=app_city["totalRent"].mean()
meanofcityRent

regio2
Aachen                808.837117
Ahrweiler             811.195740
Aichach Friedberg    1037.368621
Alb Donau             894.634437
Altenburger Land      454.977522
                        ...
Wuppertal             654.873826
Würzburg              906.299109
Zollernalbkreis       823.415200
Zweibrücken           605.617021
Zwickau               482.296626
Name: totalRent, Length: 394, dtype: float64

In [26]:
#We merge the menofcityRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofcityRent, right_index=True, left_on="city", how="left")

NameError: name 'uni_cities' is not defined

In [104]:
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,totalRent
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1348.422541,1290.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1904.166454,1650.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1904.166454,1650.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1904.166454,1650.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1348.422541,1290.0
...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1487.458776,1400.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,759.706757,790.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,702.158013,665.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,796.577535,760.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,1065.804221,969.0

The median of totalRent per city

In [36]:
#Here we save the grouping of the total Rent by city as "medianoftotalRent" and take the median
medianoftotalRent=app_city["totalRent"].median()
medianoftotalRent

regio2
Aachen               735.0
Ahrweiler            760.0
Aichach Friedberg    985.0
Alb Donau            895.0
Altenburger Land     430.0
                     ...
Wuppertal            585.0
Würzburg             870.0
Zollernalbkreis      800.0
Zweibrücken          550.0
Zwickau              440.0
Name: totalRent, Length: 394, dtype: float64

In [102]:
#We merge the medianoftotalRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianoftotalRent, right_index=True, left_on="city", how="left")

Mean of serviceCharge per city

In [52]:
meanofserviceCharge=app_city["serviceCharge"].mean()
meanofserviceCharge

regio2
Aachen               159.659296
Ahrweiler            164.033762
Aichach Friedberg    163.269231
Alb Donau            160.179000
Altenburger Land     113.986117
                        ...
Wuppertal            141.145691
Würzburg             128.759734
Zollernalbkreis      171.581560
Zweibrücken          141.250000
Zwickau              130.361212
Name: serviceCharge, Length: 394, dtype: float64

In [105]:
uni_cities=uni_cities.merge(meanofserviceCharge, right_index=True, left_on="city", how="left")

Median of *serviceCharge* per city

In [53]:
medianofserviceCharge=app_city["serviceCharge"].median()
medianofserviceCharge

regio2
Aachen               150.0
Ahrweiler            150.0
Aichach Friedberg    150.0
Alb Donau            150.0
Altenburger Land     110.0
                     ...
Wuppertal            125.0
Würzburg             130.0
Zollernalbkreis      150.0
Zweibrücken          135.0
Zwickau              125.0
Name: serviceCharge, Length: 394, dtype: float64

In [106]:
uni_cities=uni_cities.merge(medianofserviceCharge, right_index=True, left_on="city", how="left")

Percentage of *balcony*

In [176]:
#Here we calcuate the percentage of appartments containing a balcony
percentageofbalcony = app_city['balcony'].value_counts(normalize=True) #.to_frame()
percentageofbalcony
percentageofbalcony.rename["balcony"]

regio2             balcony
Aachen             True       0.617223
                   False      0.382777
Ahrweiler          True       0.753943
                   False      0.246057
Aichach Friedberg  True       0.824427
                                ...
Zollernalbkreis    False      0.385135
Zweibrücken        False      0.630952
                   True       0.369048
Zwickau            False      0.527280
                   True       0.472720
Name: balcony, Length: 788, dtype: float64

In [181]:
app_city['balcony'].value_counts(normalize=True).reset_index()

ValueError: cannot insert balcony, already exists

In [179]:
percentagebalcony.reset_index(drop=False, inplace=False)

ValueError: cannot insert balcony, already exists

In [175]:
filt_test=percentageofbalcony["balcony"]==False

percentageofbalcony.drop(index=percentageofbalcony[filt_test].index, inplace=True)
percentageofbalcony

                            balcony
regio2            balcony
Aachen            True     0.617223
                  False    0.382777
Ahrweiler         True     0.753943
                  False    0.246057
Aichach Friedberg True     0.824427
...                             ...
Zollernalbkreis   False    0.385135
Zweibrücken       False    0.630952
                  True     0.369048
Zwickau           False    0.527280
                  True     0.472720

[788 rows x 1 columns]

In [150]:
percentageofbalcony = percentageofbalcony.drop(percentageofbalcony["balcony"==True].index)

KeyError: False

In [144]:
percentageoftruebalcony= percentageofbalcony.filter(items=["balcony"==True])
percentageoftruebalcony

Series([], Name: balcony, dtype: float64)

In [134]:
filt_balcony=(app_city["balcony"]==True)

percentageofbalcony[filt_balcony]

KeyError: False

In [162]:
#We merge the percentageofbalcony to the uni_cities DataFrame as new column
uni_cities.merge(percentageofbalcony, right_index=True, left_on="city", how="left")

ValueError: len(left_on) must equal the number of levels in the index of "right"

The mean base rent

In [38]:
#Here we save the grouping of the base rent by city as "meanofbaseRent"
meanofbaseRent=app_city["baseRent"].mean()
meanofbaseRent

regio2
Aachen               632.835178
Ahrweiler            649.028864
Aichach Friedberg    874.308092
Alb Donau            766.675130
Altenburger Land     325.581940
                        ...
Wuppertal            484.485008
Würzburg             762.524601
Zollernalbkreis      655.661486
Zweibrücken          446.357143
Zwickau              338.527671
Name: baseRent, Length: 394, dtype: float64

In [109]:
#We merge the meanofbaseRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofbaseRent, right_index=True, left_on="city", how="left")

The median base rent

In [40]:
#Here we save the grouping of the base Rent by city as "medianofbaseRent"
medianofbaseRent=app_city["baseRent"].median()
medianofbaseRent

regio2
Aachen               570.0
Ahrweiler            570.0
Aichach Friedberg    795.0
Alb Donau            750.0
Altenburger Land     300.0
                     ...
Wuppertal            420.0
Würzburg             737.5
Zollernalbkreis      650.0
Zweibrücken          412.5
Zwickau              301.0
Name: baseRent, Length: 394, dtype: float64

In [110]:
#We merge the medianofbaseRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianofbaseRent, right_index=True, left_on="city", how="left")

The mean living space

In [42]:
#Here we save the grouping of the living space by city as "meanoflivingSpace"
meanoflivingSpace=app_city["livingSpace"].mean()
meanoflivingSpace

regio2
Aachen               72.709100
Ahrweiler            83.978013
Aichach Friedberg    88.872290
Alb Donau            85.743368
Altenburger Land     63.751907
                       ...
Wuppertal            70.879882
Würzburg             72.218859
Zollernalbkreis      84.952432
Zweibrücken          76.940000
Zwickau              63.899057
Name: livingSpace, Length: 394, dtype: float64

In [111]:
#We merge the meanoflivingSpace to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanoflivingSpace, right_index=True, left_on="city", how="left")

The median living space

In [44]:
#Here we save the grouping of living space by city as "medianoflivingSpace"
medianoflivingSpace=app_city["livingSpace"].median()
medianoflivingSpace

regio2
Aachen               70.00
Ahrweiler            78.00
Aichach Friedberg    85.00
Alb Donau            84.00
Altenburger Land     60.60
                     ...
Wuppertal            67.32
Würzburg             70.00
Zollernalbkreis      82.50
Zweibrücken          77.50
Zwickau              60.00
Name: livingSpace, Length: 394, dtype: float64

In [112]:
#We merge the medianoflivingSpace to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianoflivingSpace, right_index=True, left_on="city", how="left")

The mean no. of rooms

In [46]:
#Here we save the grouping of the no of rooms by city as "noRooms"
meanofnoRooms=app_city["noRooms"].mean()
meanofnoRooms

regio2
Aachen               2.516520
Ahrweiler            2.679811
Aichach Friedberg    3.015267
Alb Donau            3.023316
Altenburger Land     2.506633
                       ...
Wuppertal            2.493708
Würzburg             2.463225
Zollernalbkreis      2.979730
Zweibrücken          2.690476
Zwickau              2.457381
Name: noRooms, Length: 394, dtype: float64

In [113]:
#We merge the meanofnoRooms to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofnoRooms, right_index=True, left_on="city", how="left")

The median no. of rooms

In [48]:
#Here we save the grouping of no of rooms by city as "medianofnoRooms"
medianofnoRooms=app_city["noRooms"].median()
medianofnoRooms

regio2
Aachen               2.5
Ahrweiler            3.0
Aichach Friedberg    3.0
Alb Donau            3.0
Altenburger Land     2.0
                    ...
Wuppertal            2.0
Würzburg             2.5
Zollernalbkreis      3.0
Zweibrücken          3.0
Zwickau              2.0
Name: noRooms, Length: 394, dtype: float64

In [114]:
#We merge the medianofnoRooms to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianofnoRooms, right_index=True, left_on="city", how="left")

In [44]:
 ## Percentage of hasKitchen

In [47]:
#Here we save the percentages for appartments containing a kitchen as "percentageofhasKitchen"
percentageofhasKitchen = app_city['hasKitchen'].value_counts(normalize=True)

In [115]:
#We merge the percentageofhasKitchen to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageofhasKitchen, right_index=True, left_on="city", how="left")

NameError: name 'percentageofhasKitchen' is not defined

In [ ]:
## Percentage of cellar

In [119]:
#Here we save the percentages for appartments containing a cellar as "percentageofcellar"
percentageofcellar = app_city['cellar'].value_counts(normalize=True)
percentageofcellar

regio2             cellar
Aachen             True      0.677680
                   False     0.322320
Ahrweiler          True      0.621451
                   False     0.378549
Aichach Friedberg  True      0.679389
                               ...
Zollernalbkreis    False     0.405405
Zweibrücken        False     0.547619
                   True      0.452381
Zwickau            True      0.687461
                   False     0.312539
Name: cellar, Length: 788, dtype: float64

In [120]:
#We merge the percentageofcellar to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageofcellar, right_index=True, left_on="city", how="left")

ValueError: len(left_on) must equal the number of levels in the index of "right"

In [ ]:
## Percentage of lift

In [51]:
#Here we save the percentages for appartments containing a lift as "percentageoflift"
percentageoflift = app_city['lift'].value_counts(normalize=True)
percentageoflift

regio2             lift
Aachen             False    0.741652
                   True     0.258348
Ahrweiler          False    0.719243
                   True     0.280757
Aichach Friedberg  False    0.709924
                              ...
Zollernalbkreis    True     0.243243
Zweibrücken        False    0.928571
                   True     0.071429
Zwickau            False    0.905909
                   True     0.094091
Name: lift, Length: 784, dtype: float64

In [117]:
#We merge the percentageoflift to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageoflift, right_index=True, left_on="city", how="left")

NameError: name 'percentageoflift' is not defined

In [ ]:
## Percentage of garden

In [52]:
#Here we save the percentages for appartments containing a garden as "percentageofgarden"
percentageofgarden = app_city['garden'].value_counts(normalize=True)
percentageofgarden

regio2             garden
Aachen             False     0.776450
                   True      0.223550
Ahrweiler          False     0.776025
                   True      0.223975
Aichach Friedberg  False     0.725191
                               ...
Zollernalbkreis    True      0.290541
Zweibrücken        False     0.928571
                   True      0.071429
Zwickau            False     0.762611
                   True      0.237389
Name: garden, Length: 788, dtype: float64

In [118]:
#We merge the percentageoflift to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageoflift, right_index=True, left_on="city", how="left")

NameError: name 'percentageoflift' is not defined

In [10]:
uni_cities
#uni_cities.to_csv("data/final.csv")
uni_cities.to_excel("data/test.xlsx")

NameError: name 'uni_cities' is not defined

Mean of Telekom Upload Speed

In [28]:
#Here we save the grouping of the living space by city as "meanoflivingSpace"
meanofuploadspeed=app_city["telekomUploadSpeed"].mean()
meanofuploadspeed

regio2
Aachen               21.252454
Ahrweiler            27.642705
Aichach Friedberg    29.764706
Alb Donau            24.396154
Altenburger Land     31.368675
                       ...
Wuppertal            32.548338
Würzburg             24.245923
Zollernalbkreis      28.824427
Zweibrücken          32.368421
Zwickau              30.053720
Name: telekomUploadSpeed, Length: 394, dtype: float64

In [ ]:
#We merge the percentageoflift to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofuploadspeed, right_index=True, left_on="city", how="left")

Median of upload speed

In [29]:
medianofuploadspeed=app_city["telekomUploadSpeed"].median()
medianofuploadspeed

regio2
Aachen               10.0
Ahrweiler            40.0
Aichach Friedberg    40.0
Alb Donau            40.0
Altenburger Land     40.0
                     ...
Wuppertal            40.0
Würzburg             10.0
Zollernalbkreis      40.0
Zweibrücken          40.0
Zwickau              40.0
Name: telekomUploadSpeed, Length: 394, dtype: float64

In [ ]:
#We merge the percentageoflift to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianofuploadspeed, right_index=True, left_on="city", how="left")

Mean of Yearconstruted

In [34]:
#Here we save the grouping of the living space by city as "meanofyearConstruted"
meanofyearConstruted=app_city["yearConstructed"].mean()
meanofyearConstruted

regio2
Aachen               1974.546673
Ahrweiler            1985.214876
Aichach Friedberg    1996.070175
Alb Donau            1988.393103
Altenburger Land     1938.467871
                        ...
Wuppertal            1954.970539
Würzburg             1982.393443
Zollernalbkreis      1981.266055
Zweibrücken          1961.978723
Zwickau              1941.333061
Name: yearConstructed, Length: 394, dtype: float64

Pets allowed

In [43]:
appartments.["petsAllowed"].replace({"negotiable" : "yes", "NaN" : "no"})

SyntaxError: invalid syntax (<ipython-input-43-999163c7ffe5>, line 1)

In [44]:
#end