# Data Creation

### 1. Reading in the Data

In [98]:
#Initialising the needed libaries
import pandas as pd

In [99]:
#Data with the Universities
#data = pd.read_csv(r"\Users\jaho3\OneDrive\Documents\group-3\archive\cwurData.csv")#, usecols = ['world_rank',"institution","country", "national_rank", "quality_of_education", "quality_of_faculty", "year"])   

data = pd.read_csv(r"data\cwurData.csv", usecols = ['world_rank',"institution","country", "national_rank", "quality_of_education", "quality_of_faculty", "year"])

In [100]:
#Data with Appartment Info
#appartments = pd.read_csv(r"\Users\jaho3\Downloads\archive (3)\immo_data.csv", usecols = ['regio1','serviceCharge','balcony','telekomUploadSpeed','totalRent', "yearConstructed", "hasKitchen","cellar", "baseRent","livingSpace","petsAllowed", "lift","noRooms", "garden", "regio2", "regio3" ])
appartments = pd.read_csv(r"data/immo_data.csv", usecols = ['regio1','serviceCharge','balcony','telekomUploadSpeed','totalRent', "yearConstructed", "hasKitchen","cellar", "baseRent","livingSpace","petsAllowed", "lift","noRooms", "garden", "regio2", "regio3" ])

In [101]:
#Data with Population Info
population_data=pd.read_csv("data/Deutschland_Cities.csv")
#population_data=pd.read_csv(r"\Users\jaho3\Downloads\TechLabs\TechLabs\Deutschland_Cities.csv")

In [102]:
data.head()

,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year
0,1,Harvard University,USA,1,7,1,2012
1,2,Massachusetts Institute of Technology,USA,2,9,3,2012
2,3,Stanford University,USA,3,17,5,2012
3,4,University of Cambridge,United Kingdom,1,10,4,2012
4,5,California Institute of Technology,USA,4,2,7,2012

In [103]:
appartments.head()

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen

In [104]:
population_data.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0

### 2. Preparing the Data

##### 2.1. Universities

In [105]:
#Shrinking the Dataset to just Universities from Germany
data = data[data["country"] == "Germany"]

In [106]:
#Creating a "city"-column via the city names inside the institution names
regex = "(University of [a-zA-ZüäöÖÄÜ]+)"
data["city"] = data["institution"].str.extract(regex)
data["city"] = data["city"].str.replace("University of ", "")
data.loc[data["city"].str.contains("technology", case = False, na = False), "city"] = pd.NA

In [107]:
#Problem: There are still NaN Values, but only 30 
data["city"].value_counts(dropna = False)

NaN           30
Munich         7
Berlin         6
Heidelberg     4
Mannheim       2
Siegen         2
Osnabrück      2
Greifswald     2
Hohenheim      2
Lübeck         2
Jena           2
Bremen         2
Bayreuth       2
Potsdam        2
Halle          2
Hanover        2
Rostock        2
Konstanz       2
Dortmund       2
Augsburg       2
Regensburg     2
Marburg        2
Münster        2
Bonn           2
Freiburg       2
Tübingen       2
Göttingen      2
Hamburg        2
Cologne        2
Erlangen       2
Duisburg       2
Würzburg       2
Kiel           2
Mainz          2
Düsseldorf     2
Ulm            2
Stuttgart      2
Oldenburg      2
Name: city, dtype: int64

In [108]:
#So we added the missing Values just manually (Manually because of names like "Dresden University of Technology" or "Justus Liebig University Giessen" which are each to different from another to use the other method )
data.to_excel("data/city.xlsx")

After manually adding the values, we have renamed the city file into city_complete so that our manuall changes will not be overwritten.

In [109]:
#Now we just read in the data again with the name uni_cities
uni_cities=pd.read_excel(r"data/city_complete.xlsx")

In [110]:
uni_cities["city"].value_counts(dropna = False)

Munich            7
Berlin            6
Heidelberg        4
Bremen            3
Kiel              3
Mannheim          2
Halle             2
Jena              2
Giessen           2
Saarbrücken       2
Dortmund          2
Konstanz          2
Rostock           2
Bielefeld         2
Hanover           2
Magdeburg         2
Potsdam           2
Osnabrück         2
Marburg           2
Braunschweig      2
Kaiserslautern    2
Augsburg          2
Lübeck            2
Hohenheim         2
Greifswald        2
Siegen            2
Bayreuth          2
Regensburg        2
Darmstadt         2
Bochum            2
Bonn              2
Freiburg          2
Tübingen          2
Frankfurt         2
Göttingen         2
Hamburg           2
Cologne           2
Münster           2
Erlangen          2
Karlsruhe         2
Würzburg          2
Dresden           2
Mainz             2
Düsseldorf        2
Ulm               2
Hannover          2
Leipzig           2
Stuttgart         2
Duisburg          2
Oldenburg         2
Aachen            1
Chemnitz          1
Name: city, dtype: int64

In [111]:
uni_cities.head()

,Unnamed: 0,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,Munich
2,89,90,Technical University of Munich,Germany,3,52,101,2012,Munich
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,Munich
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg

In [112]:
#Just rename the old index column if we maybe need it later to compare something
uni_cities.rename(columns={"Unnamed: 0":"old_index"}, inplace=True)

In [113]:
#Replace "Munich" with "München" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Munich", "München")

In [114]:
#Replace "Cologne" with "Köln" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Cologne", "Köln")

In [115]:
#Replace "Hanover" with "Hannover" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Hanover", "Hannover")

In [116]:
#Replace "Frankfurt" with "Frankfurt am Main" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Frankfurt", "Frankfurt am Main")

In [117]:
#Replace "Marburg" with "Marburg Biedenkopf" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Marburg", "Marburg Biedenkopf")

In [118]:
#Replace "Siegen" with "Siegen Wittgenstein" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Siegen", "Siegen Wittgenstein")

In [119]:
#Replace "Hohenheim" with "Stuttgart" because the University of Hohenheim is in Stuttgart
uni_cities["city"]=uni_cities["city"].str.replace("Hohenheim", "Stuttgart")

In [120]:
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg
...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim

##### 2.2. Appartment Data

In [121]:
appartments

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,True,10.0,910.0,2016.0,False,True,820.0,90.00,no,False,3.0,False,Weilheim_Schongau_Kreis,Eberfing
268846,Hessen,220.00,True,NaN,1150.0,1983.0,True,False,930.0,115.00,negotiable,False,3.5,False,Bergstraße_Kreis,Viernheim
268847,Hessen,220.00,True,40.0,930.0,1965.0,False,True,650.0,95.00,negotiable,False,4.0,True,Limburg_Weilburg_Kreis,Limburg_an_der_Lahn
268848,Nordrhein_Westfalen,175.00,True,NaN,1015.0,2019.0,False,True,840.0,70.00,no,True,2.0,False,Köln,Dellbrück
268849,Hessen,315.00,True,NaN,NaN,1972.0,True,True,935.0,77.00,NaN,True,3.0,False,Frankfurt_am_Main,Sossenheim

To combine the Appartment Data with the University Data we need to adjust the City column (regio2)

In [122]:
#First problem is that in regio2 words are seperated via "_" and not with an space
appartments["regio2"]=appartments["regio2"].str.replace("_", " ")

In [123]:
#Next problem is that in regio2 words are seperated via "_" and not with an space
appartments["regio2"]=appartments["regio2"].str.replace("ß", "ss")

In [124]:
#Next problem is that in regio2 "Halle" is called "Halle Saale"
appartments["regio2"]=appartments["regio2"].str.replace("Halle Saale", "Halle")

In [125]:
#Next problem is that in regio2 "Freiburg" is called "Freiburg im Breisgau"
appartments["regio2"]=appartments["regio2"].str.replace("Freiburg im Breisgau", "Freiburg")

In [126]:
#Next problem is that in regio2 some Citys are split into regions so we delete " Kreis" 
appartments["regio2"]=appartments["regio2"].str.replace(" Kreis", "")

In [127]:
#Next problem is that in regio2 the city Saarbrücken is called "Stadtverband Saarbrücken" 
appartments["regio2"]=appartments["regio2"].str.replace("Stadtverband ", "")

In [128]:
#The changes have worked
appartments["regio2"].unique()

array(['Dortmund', 'Rhein Pfalz', 'Dresden', 'Mittelsachsen', 'Bremen',
       'Schleswig Flensburg', 'Emmendingen', 'Gelsenkirchen', 'Chemnitz',
       'Südliche Weinstrasse', 'Hamm', 'Weimar', 'Main Kinzig',
       'Duisburg', 'Göttingen', 'Neumünster', 'Stuttgart', 'Leipzig',
       'München', 'Hamburg', 'Braunschweig', 'Esslingen', 'Magdeburg',
       'Schwerin', 'Passau', 'Mettmann', 'Vogtlandkreis', 'Gross Gerau',
       'Sächsische Schweiz Osterzgebirge', 'Görlitz',
       'Rheinisch Bergischer', 'Essen', 'Meissen', 'Mannheim',
       'Wesermarsch', 'Hochsauerlandkreis', 'Unna', 'Bautzen', 'Berlin',
       'Frankfurt am Main', 'Halle', 'Steinburg', 'Aschaffenburg',
       'Oder Spree', 'Bremerhaven', 'Zwickau', 'Nordsachsen',
       'Mansfeld Südharz', 'Alzey Worms', 'Giessen', 'Main Taunus',
       'Wuppertal', 'Viersen', 'Düsseldorf', 'Gera', 'Böblingen',
       'Würzburg', 'Kitzingen', 'Stendal', 'Nordvorpommern', 'Rhein Erft',
       'Mülheim an der Ruhr', 'Heilbronn', 'Hersfeld Rotenburg', 'Aachen',
       'Erzgebirgskreis', 'Baden Baden', 'Tuttlingen', 'Nürnberg',
       'Heinsberg', 'Remscheid', 'Märkisch Oderland', 'Wiesbaden',
       'Wetteraukreis', 'Kassel', 'Bielefeld', 'Salzlandkreis', 'Harburg',
       'Höxter', 'Germersheim', 'Brandenburg an der Havel', 'Aurich',
       'Herzogtum Lauenburg', 'Karlsruhe', 'Frankenthal Pfalz',
       'Rheingau Taunus', 'Nordwestmecklenburg', 'Ostvorpommern', 'Emden',
       'Rems Murr', 'Altmarkkreis Salzwedel', 'Straubing', 'Peine',
       'Paderborn', 'Düren', 'Fürstenfeldbruck', 'Kiel',
       'Unstrut Hainich', 'Ludwigslust', 'Flensburg', 'Borken', 'Krefeld',
       'Lörrach', 'Saalekreis', 'Wesel', 'Recklinghausen', 'Hagen',
       'Grafschaft Bentheim', 'Goslar', 'Bergstrasse', 'Börde', 'Potsdam',
       'Kusel', 'Burgenlandkreis', 'Holzminden', 'Bad Doberan',
       'Biberach', 'Coburg', 'Köln', 'Dessau Rosslau', 'Harz',
       'Ludwigsburg', 'Herne', 'Bad Dürkheim', 'Wittenberg', 'Fürth',
       'Eichstätt', 'Bochum', 'Pfaffenhofen an der Ilm', 'Märkischer',
       'Trier', 'Rhein Sieg', 'Hannover', 'Limburg Weilburg',
       'Mönchengladbach', 'Bonn', 'Anhalt Bitterfeld', 'Herford',
       'Neuss Rhein', 'Plauen', 'Soest', 'Erding', 'Dahme Spreewald',
       'Mainz', 'Kleve', 'Reutlingen', 'Offenbach', 'Segeberg', 'Emsland',
       'Hochtaunuskreis', 'Schwarzwald Baar', 'Oberbergischer',
       'Wunsiedel im Fichtelgebirge', 'Hildburghausen', 'Wismar',
       'Pirmasens', 'Schmalkalden Meiningen', 'Ostalbkreis',
       'Oldenburg Oldenburg', 'Mayen Koblenz', 'Ennepe Ruhr', 'Uckermark',
       'Mainz Bingen', 'Erfurt', 'Helmstedt', 'Pinneberg', 'Gütersloh',
       'Starnberg', 'Siegen Wittgenstein', 'Fulda',
       'Oberspreewald Lausitz', 'Göppingen', 'Werra Meissner', 'Lüneburg',
       'Wilhelmshaven', 'Wolfsburg', 'Northeim', 'Rhein Lahn', 'Freising',
       'Lübeck', 'Minden Lübbecke', 'Rastatt', 'Unterallgäu', 'Eisenach',
       'Spree Neisse', 'Bad Tölz Wolfratshausen', 'Rendsburg Eckernförde',
       'Augsburg', 'Neustadt a.d. Aisch Bad Windsheim', 'Oberhavel',
       'Schwalm Eder', 'Stralsund', 'Prignitz', 'Hoyerswerda',
       'Straubing Bogen', 'Darmstadt Dieburg', 'Landshut', 'Cochem Zell',
       'Bad Kreuznach', 'Solingen', 'Heidelberg', 'Hof', 'Neubrandenburg',
       'Osnabrück', 'Donau Ries', 'Güstrow', 'Plön', 'Koblenz',
       'Alb Donau', 'Heidenheim', 'Bodenseekreis', 'Teltow Fläming',
       'Westerwaldkreis', 'Celle', 'Potsdam Mittelmark', 'Hildesheim',
       'Verden', 'Rhein Neckar', 'Havelland', 'Dachau', 'Rotenburg Wümme',
       'Ostholstein', 'Pforzheim', 'Suhl', 'Stormarn', 'Eichsfeld',
       'Darmstadt', 'Regensburg', 'Nordhausen', 'Sonneberg', 'Cottbus',
       'Forchheim', 'Erlangen', 'Nienburg Weser', 'Waldeck Frankenberg',
       'Dithmarschen', 'Diepholz', 'Deggendorf', 'Oberhausen',
       'Neustadt an der Weinstrasse', 'Münster', 'Osterode am Harz',
       'Freudenstadt', 'Marburg Biedenkopf', 'Stade', 'Birkenfeld',
       'Cuxhaven', 'Rottal Inn', 'Rügen', 'Gotha', 'Offenbach am Main',
       'Saarbrücken', 'Kyffhäuserkreis', 'Freiburg', 'Ravensburg',
       'Hameln Pyrmont', 'Saalfeld Rudolstadt', 'Rostock', 'Saarlouis',
       'Parchim', 'Schwäbisch Hall', 'Bamberg', 'Weilheim Schongau',
       'Lippe', 'Müritz', 'Steinfurt', 'Traunstein', 'Ebersberg',
       'Neuwied', 'Kelheim', 'Weimarer Land', 'Saarpfalz', 'Vechta',
       'Bitburg Prüm', 'Ahrweiler', 'Greifswald', 'Calw', 'Gifhorn',
       'Uelzen', 'Altenburger Land', 'Ilm', 'Trier Saarburg', 'Lahn Dill',
       'Worms', 'Berchtesgadener Land', 'Breisgau Hochschwarzwald',
       'Oldenburg', 'Barnim', 'Erlangen Höchstadt', 'Main Spessart',
       'Rosenheim', 'Bottrop', 'Ludwigshafen am Rhein', 'Elbe Elster',
       'Warendorf', 'Mecklenburg Strelitz', 'Jerichower Land',
       'Lüchow Dannenberg', 'Greiz', 'Euskirchen', 'Kaiserslautern',
       'Salzgitter', 'Weissenburg Gunzenhausen', 'Ulm', 'Altötting',
       'Landsberg am Lech', 'Günzburg', 'Amberg Sulzbach',
       'Wartburgkreis', 'Neu Ulm', 'Lichtenfels', 'Friesland', 'Tübingen',
       'Zollernalbkreis', 'Enzkreis', 'Miltenberg', 'Schaumburg',
       'Waldshut', 'Delmenhorst', 'Bayreuth', 'Jena', 'Sömmerda',
       'Nordfriesland', 'Leer', 'Dillingen an der Donau',
       'Nürnberger Land', 'Ostprignitz Ruppin', 'Ingolstadt',
       'Bad Kissingen', 'Saale Holzland', 'Kaufbeuren', 'Speyer',
       'Ansbach', 'Ammerland', 'Rottweil', 'Mühldorf am Inn',
       'Weiden in der Oberpfalz', 'Frankfurt Oder',
       'Garmisch Partenkirchen', 'Main Tauber', 'Ostallgäu', 'Leverkusen',
       'Neumarkt in der Oberpfalz', 'Aichach Friedberg', 'Neunkirchen',
       'Coesfeld', 'Lindau Bodensee', 'Ortenaukreis', 'Rhein Hunsrück',
       'Osterholz', 'Merzig Wadern', 'Heidekreis', 'Wolfenbüttel',
       'Dingolfing Landau', 'Südwestpfalz', 'Bernkastel Wittlich',
       'Schweinfurt', 'Demmin', 'Miesbach', 'Konstanz', 'Tirschenreuth',
       'Neckar Odenwald', 'Altenkirchen Westerwald',
       'Soltau Fallingbostel', 'Landau in der Pfalz', 'Uecker Randow',
       'Zweibrücken', 'Neuburg Schrobenhausen', 'Amberg',
       'Donnersbergkreis', 'Cloppenburg', 'Hohenlohekreis', 'Roth',
       'Vulkaneifel', 'Vogelsbergkreis', 'Schwandorf', 'Cham',
       'Sigmaringen', 'Oberallgäu', 'Regen', 'Memmingen',
       'Kempten Allgäu', 'Freyung Grafenau', 'Odenwaldkreis', 'Olpe',
       'Saale Orla', 'Sankt Wendel', 'Kulmbach', 'Schwabach', 'Wittmund',
       'Hassberge', 'Rhön Grabfeld', 'Kronach', 'Neustadt a.d. Waldnaab'],
      dtype=object)

In [129]:
#The Appartments Data is grouped by the city so we can aggregate the rent and so on per City
app_city=appartments.groupby(["regio2"])

The mean totalRent per City

In [130]:
#Here we save the grouping of the total Rent by city as "meanofcityRent" and take the mean
meanofcityRent=app_city["totalRent"].mean()
meanofcityRent

regio2
Aachen                808.837117
Ahrweiler             811.195740
Aichach Friedberg    1037.368621
Alb Donau             894.634437
Altenburger Land      454.977522
                        ...
Wuppertal             654.873826
Würzburg              906.299109
Zollernalbkreis       823.415200
Zweibrücken           605.617021
Zwickau               482.296626
Name: totalRent, Length: 394, dtype: float64

In [131]:
#We merge the menofcityRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofcityRent, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541
...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221

The median of totalRent per city

In [132]:
#Here we save the grouping of the total Rent by city as "medianoftotalRent" and take the median
medianoftotalRent=app_city["totalRent"].median()
medianoftotalRent

regio2
Aachen               735.0
Ahrweiler            760.0
Aichach Friedberg    985.0
Alb Donau            895.0
Altenburger Land     430.0
                     ...
Wuppertal            585.0
Würzburg             870.0
Zollernalbkreis      800.0
Zweibrücken          550.0
Zwickau              440.0
Name: totalRent, Length: 394, dtype: float64

In [133]:
#We merge the medianoftotalRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianoftotalRent, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0
...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0

Mean of serviceCharge per city

In [134]:
meanofserviceCharge=app_city["serviceCharge"].mean()
meanofserviceCharge

regio2
Aachen               159.659296
Ahrweiler            164.033762
Aichach Friedberg    163.269231
Alb Donau            160.179000
Altenburger Land     113.986117
                        ...
Wuppertal            141.145691
Würzburg             128.759734
Zollernalbkreis      171.581560
Zweibrücken          141.250000
Zwickau              130.361212
Name: serviceCharge, Length: 394, dtype: float64

In [135]:
#Merging the new column to the main Dataset
uni_cities=uni_cities.merge(meanofserviceCharge, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157
...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782

Median of *serviceCharge* per city

In [136]:
medianofserviceCharge=app_city["serviceCharge"].median()
medianofserviceCharge

regio2
Aachen               150.0
Ahrweiler            150.0
Aichach Friedberg    150.0
Alb Donau            150.0
Altenburger Land     110.0
                     ...
Wuppertal            125.0
Würzburg             130.0
Zollernalbkreis      150.0
Zweibrücken          135.0
Zwickau              125.0
Name: serviceCharge, Length: 394, dtype: float64

In [137]:
#Merging the new column to the main Dataset
uni_cities=uni_cities.merge(medianofserviceCharge, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0

Percentage of *balcony*

In [138]:
#Because we cant merge two seperate values in one column, we need a function that gives us only the aggregated "True" values per city.
def get_true_percentage_by_city(city_entries: pd.Series) -> float:
    vc = city_entries.value_counts(normalize = True)
    if True in vc:
        return vc[True]
    else:
        return 1 - vc[False]

In [139]:
#This function does the same as the above just for the false values. (Incase we need them)
def get_false_percentage_by_city(city_entries: pd.Series) -> float:
    vc = city_entries.value_counts(normalize = True)
    if False in vc:
        return vc[False]
    else:
        return 1 - vc[True]

In [140]:
#Using the get_true_percentage_by_city function to get the True percentages per city for the column "balcony"
truepercentagebalcony = app_city["balcony"].apply(get_true_percentage_by_city)
truepercentagebalcony

regio2
Aachen               0.617223
Ahrweiler            0.753943
Aichach Friedberg    0.824427
Alb Donau            0.720207
Altenburger Land     0.371476
                       ...
Wuppertal            0.477273
Würzburg             0.628623
Zollernalbkreis      0.614865
Zweibrücken          0.369048
Zwickau              0.472720
Name: balcony, Length: 394, dtype: float64

In [141]:
#Using the get_false_percentage_by_city function to get the False percentages per city for the column "balcony"
falsepercentagebalcony=app_city["balcony"].apply(get_false_percentage_by_city)
falsepercentagebalcony

regio2
Aachen               0.382777
Ahrweiler            0.246057
Aichach Friedberg    0.175573
Alb Donau            0.279793
Altenburger Land     0.628524
                       ...
Wuppertal            0.522727
Würzburg             0.371377
Zollernalbkreis      0.385135
Zweibrücken          0.630952
Zwickau              0.527280
Name: balcony, Length: 394, dtype: float64

In [142]:
#We merge just the truepercentagebalcony to the uni_cities DataFrame as new column, because the true percentage is the main thing we want to know and the false percentage is deducible.
unicities=uni_cities.merge(truepercentagebalcony, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0

The mean base rent

In [143]:
#Here we save the grouping of the base rent by city as "meanofbaseRent"
meanofbaseRent=app_city["baseRent"].mean()
meanofbaseRent

regio2
Aachen               632.835178
Ahrweiler            649.028864
Aichach Friedberg    874.308092
Alb Donau            766.675130
Altenburger Land     325.581940
                        ...
Wuppertal            484.485008
Würzburg             762.524601
Zollernalbkreis      655.661486
Zweibrücken          446.357143
Zwickau              338.527671
Name: baseRent, Length: 394, dtype: float64

In [144]:
#We merge the meanofbaseRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofbaseRent, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217

The median base rent

In [145]:
#Here we save the grouping of the base Rent by city as "medianofbaseRent"
medianofbaseRent=app_city["baseRent"].median()
medianofbaseRent

regio2
Aachen               570.0
Ahrweiler            570.0
Aichach Friedberg    795.0
Alb Donau            750.0
Altenburger Land     300.0
                     ...
Wuppertal            420.0
Würzburg             737.5
Zollernalbkreis      650.0
Zweibrücken          412.5
Zwickau              301.0
Name: baseRent, Length: 394, dtype: float64

In [146]:
#We merge the medianofbaseRent to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianofbaseRent, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095

The mean living space

In [147]:
#Here we save the grouping of the living space by city as "meanoflivingSpace"
meanoflivingSpace=app_city["livingSpace"].mean()
meanoflivingSpace

regio2
Aachen               72.709100
Ahrweiler            83.978013
Aichach Friedberg    88.872290
Alb Donau            85.743368
Altenburger Land     63.751907
                       ...
Wuppertal            70.879882
Würzburg             72.218859
Zollernalbkreis      84.952432
Zweibrücken          76.940000
Zwickau              63.899057
Name: livingSpace, Length: 394, dtype: float64

In [148]:
#We merge the meanoflivingSpace to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanoflivingSpace, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957

The median living space

In [149]:
#Here we save the grouping of living space by city as "medianoflivingSpace"
medianoflivingSpace=app_city["livingSpace"].median()
medianoflivingSpace

regio2
Aachen               70.00
Ahrweiler            78.00
Aichach Friedberg    85.00
Alb Donau            84.00
Altenburger Land     60.60
                     ...
Wuppertal            67.32
Würzburg             70.00
Zollernalbkreis      82.50
Zweibrücken          77.50
Zwickau              60.00
Name: livingSpace, Length: 394, dtype: float64

In [150]:
#We merge the medianoflivingSpace to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianoflivingSpace, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000

The mean no. of rooms

In [151]:
#Here we save the grouping of the no of rooms by city as "noRooms"
meanofnoRooms=app_city["noRooms"].mean()
meanofnoRooms

regio2
Aachen               2.516520
Ahrweiler            2.679811
Aichach Friedberg    3.015267
Alb Donau            3.023316
Altenburger Land     2.506633
                       ...
Wuppertal            2.493708
Würzburg             2.463225
Zollernalbkreis      2.979730
Zweibrücken          2.690476
Zwickau              2.457381
Name: noRooms, Length: 394, dtype: float64

In [152]:
#We merge the meanofnoRooms to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofnoRooms, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623

The median no. of rooms

In [153]:
#Here we save the grouping of no of rooms by city as "medianofnoRooms"
medianofnoRooms=app_city["noRooms"].median()
medianofnoRooms

regio2
Aachen               2.5
Ahrweiler            3.0
Aichach Friedberg    3.0
Alb Donau            3.0
Altenburger Land     2.0
                    ...
Wuppertal            2.0
Würzburg             2.5
Zollernalbkreis      3.0
Zweibrücken          3.0
Zwickau              2.0
Name: noRooms, Length: 394, dtype: float64

In [154]:
#We merge the medianofnoRooms to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianofnoRooms, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5

Percentage of hasKitchen

In [155]:
#Here we save the percentages for appartments containing a kitchen as "percentageofhasKitchen"
percentageofhasKitchen = app_city['hasKitchen'].apply(get_true_percentage_by_city)
percentageofhasKitchen

regio2
Aachen               0.311775
Ahrweiler            0.318612
Aichach Friedberg    0.427481
Alb Donau            0.564767
Altenburger Land     0.139303
                       ...
Wuppertal            0.186027
Würzburg             0.561594
Zollernalbkreis      0.837838
Zweibrücken          0.285714
Zwickau              0.180152
Name: hasKitchen, Length: 394, dtype: float64

In [156]:
#We merge the percentageofhasKitchen to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageofhasKitchen, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362

Percentage of cellar

In [157]:
#Here we save the percentages for appartments containing a cellar as "percentageofcellar"
percentageofcellar = app_city['cellar'].apply(get_true_percentage_by_city)
percentageofcellar

regio2
Aachen               0.677680
Ahrweiler            0.621451
Aichach Friedberg    0.679389
Alb Donau            0.606218
Altenburger Land     0.665008
                       ...
Wuppertal            0.636785
Würzburg             0.521739
Zollernalbkreis      0.594595
Zweibrücken          0.452381
Zwickau              0.687461
Name: cellar, Length: 394, dtype: float64

In [158]:
#We merge the percentageofcellar to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageofcellar, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087

Percentage of lift

In [159]:
#Here we save the percentages for appartments containing a lift as "percentageoflift"
percentageoflift = app_city['lift'].apply(get_true_percentage_by_city)
percentageoflift

regio2
Aachen               0.258348
Ahrweiler            0.280757
Aichach Friedberg    0.290076
Alb Donau            0.269430
Altenburger Land     0.038143
                       ...
Wuppertal            0.175505
Würzburg             0.226449
Zollernalbkreis      0.243243
Zweibrücken          0.071429
Zwickau              0.094091
Name: lift, Length: 394, dtype: float64

In [160]:
#We merge the percentageoflift to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageoflift, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217

Percentage of garden

In [161]:
#Here we save the percentages for appartments containing a garden as "percentageofgarden"
percentageofgarden = app_city['garden'].apply(get_true_percentage_by_city)
percentageofgarden

regio2
Aachen               0.223550
Ahrweiler            0.223975
Aichach Friedberg    0.274809
Alb Donau            0.269430
Altenburger Land     0.194030
                       ...
Wuppertal            0.155303
Würzburg             0.166667
Zollernalbkreis      0.290541
Zweibrücken          0.071429
Zwickau              0.237389
Name: garden, Length: 394, dtype: float64

In [162]:
#We merge the percentageoflift to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(percentageoflift, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift_x,lift_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864,0.262864
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789,0.146789
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934,0.247934
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863,0.231863
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217,0.315217

Mean of Telekom Upload Speed

In [163]:
#Here we save the grouping of the living space by city as "meanoflivingSpace"
meanofuploadspeed=app_city["telekomUploadSpeed"].mean()
meanofuploadspeed

regio2
Aachen               21.252454
Ahrweiler            27.642705
Aichach Friedberg    29.764706
Alb Donau            24.396154
Altenburger Land     31.368675
                       ...
Wuppertal            32.548338
Würzburg             24.245923
Zollernalbkreis      28.824427
Zweibrücken          32.368421
Zwickau              30.053720
Name: telekomUploadSpeed, Length: 394, dtype: float64

In [164]:
#We merge the percentageoflift to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(meanofuploadspeed, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift_x,lift_y,telekomUploadSpeed
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864,0.262864,27.828768
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789,0.146789,13.888636
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934,0.247934,32.119640
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863,0.231863,15.257483
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217,0.315217,29.766178

Median of uploadSpeed

In [165]:
#
medianofuploadspeed=app_city["telekomUploadSpeed"].median()
medianofuploadspeed

regio2
Aachen               10.0
Ahrweiler            40.0
Aichach Friedberg    40.0
Alb Donau            40.0
Altenburger Land     40.0
                     ...
Wuppertal            40.0
Würzburg             10.0
Zollernalbkreis      40.0
Zweibrücken          40.0
Zwickau              40.0
Name: telekomUploadSpeed, Length: 394, dtype: float64

In [166]:
#We merge the medianofuploadspeed to the uni_cities DataFrame as new column
uni_cities=uni_cities.merge(medianofuploadspeed, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift_x,lift_y,telekomUploadSpeed_x,telekomUploadSpeed_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864,0.262864,27.828768,40.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789,0.146789,13.888636,2.4
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934,0.247934,32.119640,40.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863,0.231863,15.257483,2.4
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217,0.315217,29.766178,40.0

Mean of Yearconstructed

In [167]:
#Here we save the grouping of the living space by city as "meanofyearConstruted"
meanofyearConstruted=app_city["yearConstructed"].mean()
meanofyearConstruted

regio2
Aachen               1974.546673
Ahrweiler            1985.214876
Aichach Friedberg    1996.070175
Alb Donau            1988.393103
Altenburger Land     1938.467871
                        ...
Wuppertal            1954.970539
Würzburg             1982.393443
Zollernalbkreis      1981.266055
Zweibrücken          1961.978723
Zwickau              1941.333061
Name: yearConstructed, Length: 394, dtype: float64

In [168]:
#Merging the new column to the main Dataset
uni_cities=uni_cities.merge(meanofyearConstruted, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift_x,lift_y,telekomUploadSpeed_x,telekomUploadSpeed_y,yearConstructed
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864,0.262864,27.828768,40.0,1969.930676
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789,0.146789,13.888636,2.4,1989.736842
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934,0.247934,32.119640,40.0,1970.882474
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863,0.231863,15.257483,2.4,1977.729965
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217,0.315217,29.766178,40.0,1966.304985

Median of Yearsconstructed

In [169]:
medianofyearConstruted=app_city["yearConstructed"].median()
medianofyearConstruted

regio2
Aachen               1974.0
Ahrweiler            1987.5
Aichach Friedberg    2005.0
Alb Donau            2005.0
Altenburger Land     1930.0
                      ...
Wuppertal            1960.0
Würzburg             1984.0
Zollernalbkreis      1993.0
Zweibrücken          1960.0
Zwickau              1930.0
Name: yearConstructed, Length: 394, dtype: float64

In [170]:
#Merging the new column to the main Dataset
uni_cities=uni_cities.merge(medianofyearConstruted, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift_x,lift_y,telekomUploadSpeed_x,telekomUploadSpeed_y,yearConstructed_x,yearConstructed_y
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864,0.262864,27.828768,40.0,1969.930676,1972.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789,0.146789,13.888636,2.4,1989.736842,1998.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934,0.247934,32.119640,40.0,1970.882474,1973.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863,0.231863,15.257483,2.4,1977.729965,1978.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217,0.315217,29.766178,40.0,1966.304985,1967.0

2.3. Population Data

In [171]:
population_data

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0
...,...,...,...,...,...,...,...,...,...
607,Rotenburg,53.0851,9.3879,Germany,DE,Lower Saxony,minor,NaN,NaN
608,Karlstadt,49.9603,9.7724,Germany,DE,Bavaria,minor,NaN,NaN
609,Neustadt,49.5656,8.8437,Germany,DE,Hesse,minor,NaN,NaN
610,Homberg,51.0299,9.4026,Germany,DE,Hesse,minor,NaN,NaN
611,Garmisch-Partenkirchen,47.4985,11.1044,Germany,DE,Bavaria,minor,NaN,NaN

First a few values need to be adjusted to match with the rest of our dataset

In [172]:
#Replace "Munich" with "München" so that all cities are there with their german name 
population_data["city"]=population_data["city"].str.replace("Munich", "München")

In [173]:
#Replace "Cologne" with "Köln" so that all cities are there with their german name 
population_data["city"]=population_data["city"].str.replace("Cologne", "Köln")

In [174]:
#Adjustments via replace
population_data["city"]=population_data["city"].str.replace("Siegen", "Siegen Wittgenstein")

In [175]:
#Adjustments via replace
population_data["city"]=population_data["city"].str.replace("Freiburg im Breisgau", "Freiburg")

In [176]:
#Adjustments via replace
population_data["city"]=population_data["city"].str.replace("Frankfurt", "Frankfurt am Main")

In [177]:
#Adjustments via replace
population_data["city"]=population_data["city"].str.replace("Marburg", "Marburg Biedenkopf")

In [178]:
#Adjustments via replace
population_data["city"]=population_data["city"].str.replace("Gießen", "Giessen")

In [179]:
#Adjustments via replace
population_data["city"]=population_data["city"].str.replace("Gießen", "Giessen")

Now we can merge the wanted information to the main dataset

In [180]:
#We group the dataframe via the cities
pop_city= population_data.groupby(["city"])
pop_city

In [181]:
#We sum up the population per city. (The sum in this case is just the population per city, because each city only exists once in the dataframe.)
poppercity=pop_city["population"].sum()
poppercity

city
Aachen         247380.0
Aalen           68456.0
Achern          25630.0
Achim           31911.0
Ahaus           39223.0
                 ...
Zeitz           27955.0
Zirndorf        25596.0
Zittau          25381.0
Zweibrücken     34209.0
Zwickau         89540.0
Name: population, Length: 607, dtype: float64

In [182]:
#Merging the new column to the main Dataset
uni_cities=uni_cities.merge(poppercity, right_index=True, left_on="city", how="left")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift_x,lift_y,telekomUploadSpeed_x,telekomUploadSpeed_y,yearConstructed_x,yearConstructed_y,population
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0,160355.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0,160355.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864,0.262864,27.828768,40.0,1969.930676,1972.0,634830.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789,0.146789,13.888636,2.4,1989.736842,1998.0,168210.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934,0.247934,32.119640,40.0,1970.882474,1973.0,102836.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863,0.231863,15.257483,2.4,1977.729965,1978.0,164748.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217,0.315217,29.766178,40.0,1966.304985,1967.0,309370.0

3. Column Titel adjustments

In [183]:
#Shows the name for each column
uni_cities.columns

Index(['old_index', 'world_rank', 'institution', 'country', 'national_rank',
       'quality_of_education', 'quality_of_faculty', 'year', 'city',
       'totalRent_x', 'totalRent_y', 'serviceCharge_x', 'serviceCharge_y',
       'baseRent_x', 'baseRent_y', 'livingSpace_x', 'livingSpace_y',
       'noRooms_x', 'noRooms_y', 'hasKitchen', 'cellar', 'lift_x', 'lift_y',
       'telekomUploadSpeed_x', 'telekomUploadSpeed_y', 'yearConstructed_x',
       'yearConstructed_y', 'population'],
      dtype='object')

In [184]:
#At this point we want to see every column to determine what column stands for what value exactly.
pd.set_option('display.max_columns', 100)
uni_cities.head()

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_x,totalRent_y,serviceCharge_x,serviceCharge_y,baseRent_x,baseRent_y,livingSpace_x,livingSpace_y,noRooms_x,noRooms_y,hasKitchen,cellar,lift_x,lift_y,telekomUploadSpeed_x,telekomUploadSpeed_y,yearConstructed_x,yearConstructed_y,population
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.0,84.978429,85.0,2.825670,3.0,0.59387,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0,160355.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.0,92.774910,75.0,2.542332,2.5,0.61881,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.0,92.774910,75.0,2.542332,2.5,0.61881,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.0,92.774910,75.0,2.542332,2.5,0.61881,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.0,84.978429,85.0,2.825670,3.0,0.59387,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0,160355.0

In [185]:
#Renaming the columns to their respected values
uni_cities.rename(columns=
{
    "totalRent_x":"totalRent_mean", "totalRent_y":"totalRent_median",
    "serviceCharge_x":"serviceCharge_mean", "serviceCharge_y":"serviceCharge_median",
    "baseRent_x":"baseRent_mean", "baseRent_y":"baseRent_median", 
    "livingSpace_x":"livingSpace_mean", "livingSpace_y":"livingSpace_median",
    "telekomUploadSpeed_x":"telekomUploadSpeed_mean", "telekomUploadSpeed_y":"telekomUploadSpeed_median", 
    "yearConstructed_x":"yearConstructed_mean", "yearConstructed_y":"yearConstructed_median", 
    "noRooms_x":"noRooms_mean", "noRooms_y":"noRooms_median",
    "hasKitchen":"hasKitchen_percentage", 
    "cellar":"cellar_percentage", 
    "population":"population_per_city",
    "lift_x":"lift_percantage"
    }, inplace=True)

In [186]:
#Just take a last look if everything worked fine!
#uni_cities.to_excel("data/test.xlsx")
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent_mean,totalRent_median,serviceCharge_mean,serviceCharge_median,baseRent_mean,baseRent_median,livingSpace_mean,livingSpace_median,noRooms_mean,noRooms_median,hasKitchen_percentage,cellar_percentage,lift_percantage,lift_y,telekomUploadSpeed_mean,telekomUploadSpeed_median,yearConstructed_mean,yearConstructed_median,population_per_city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0,160355.0
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454,1650.0,193.623375,180.0,1712.898009,1490.000,92.774910,75.000,2.542332,2.5,0.618810,0.703275,0.582069,0.582069,31.210324,40.0,1986.187410,1995.0,1471508.0
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541,1290.0,207.847157,200.0,1148.408448,1100.000,84.978429,85.000,2.825670,3.0,0.593870,0.653257,0.450192,0.450192,4.189318,2.4,1978.135338,1998.0,160355.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776,1400.0,153.410158,139.0,1373.798809,1297.050,77.144122,73.295,2.611298,2.5,0.689038,0.572707,0.262864,0.262864,27.828768,40.0,1969.930676,1972.0,634830.0
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757,790.0,138.561321,125.0,595.319174,600.000,83.917431,82.000,2.779817,3.0,0.495413,0.201835,0.146789,0.146789,13.888636,2.4,1989.736842,1998.0,168210.0
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013,665.0,143.905220,125.0,534.212942,480.000,75.043421,73.000,2.780826,3.0,0.309091,0.690909,0.247934,0.247934,32.119640,40.0,1970.882474,1973.0,102836.0
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535,760.0,139.458028,127.0,646.177013,590.000,76.663201,72.260,2.710526,3.0,0.395448,0.651494,0.231863,0.231863,15.257483,2.4,1977.729965,1978.0,164748.0
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221,969.0,180.357782,170.0,862.211217,786.095,78.300957,75.000,2.553623,2.5,0.525362,0.676087,0.315217,0.315217,29.766178,40.0,1966.304985,1967.0,309370.0

In [189]:
#Creating the final Dataset, which will be used for analysis.
uni_cities.to_csv("data/Uni4U_final.csv")
uni_cities.to_excel("data/Uni4U_final.xlsx")

In [188]:
#end