# Data Creation

### 1. Reading in the Data

In [1]:
import pandas as pd           #Initialising the needed libaries

In [2]:
#Data with the Universities
data = pd.read_csv(r"data\cwurData.csv", usecols = ['world_rank',"institution","country", "national_rank", "quality_of_education", "quality_of_faculty", "year"])

FileNotFoundError: [Errno 2] No such file or directory: 'data\\cwurData.csv'

In [ ]:
#Data with Appartment Info
appartments = pd.read_csv(r"data/immo_data.csv", usecols = ['regio1','serviceCharge','balcony','telekomUploadSpeed','totalRent', "yearConstructed", "hasKitchen","cellar", "baseRent","livingSpace","petsAllowed", "lift","noRooms", "garden", "regio2", "regio3" ])

In [ ]:
#Data with Population Info
population_data=pd.read_csv("data/Deutschland_Cities.csv")

In [ ]:
data.head()

,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year
0,1,Harvard University,USA,1,7,1,2012
1,2,Massachusetts Institute of Technology,USA,2,9,3,2012
2,3,Stanford University,USA,3,17,5,2012
3,4,University of Cambridge,United Kingdom,1,10,4,2012
4,5,California Institute of Technology,USA,4,2,7,2012

In [ ]:
appartments.head()

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen

In [ ]:
population_data.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0

### 2. Preparing the Data

##### 2.1. Universities

In [ ]:
#Shrinking the Dataset to just Universities from Germany
data = data[data["country"] == "Germany"]

In [ ]:
#Creating a "city"-column via the city names inside the institution names
regex = "(University of [a-zA-ZüäöÖÄÜ]+)"
data["city"] = data["institution"].str.extract(regex)
data["city"] = data["city"].str.replace("University of ", "")
data.loc[data["city"].str.contains("technology", case = False, na = False), "city"] = pd.NA

In [ ]:
#Problem: There are still NaN Values, but only 30 
data["city"].value_counts(dropna = False)

NaN           30
Munich         7
Berlin         6
Heidelberg     4
Mannheim       2
Siegen         2
Osnabrück      2
Greifswald     2
Hohenheim      2
Lübeck         2
Jena           2
Bremen         2
Bayreuth       2
Potsdam        2
Halle          2
Hanover        2
Rostock        2
Konstanz       2
Dortmund       2
Augsburg       2
Regensburg     2
Marburg        2
Münster        2
Bonn           2
Freiburg       2
Tübingen       2
Göttingen      2
Hamburg        2
Cologne        2
Erlangen       2
Duisburg       2
Würzburg       2
Kiel           2
Mainz          2
Düsseldorf     2
Ulm            2
Stuttgart      2
Oldenburg      2
Name: city, dtype: int64

In [ ]:
#So we added the missing Values just manually (Manually because of names like "Dresden University of Technology" or "Justus Liebig University Giessen" which are to different to use the other method )
data.to_excel("data/city.xlsx")

After manually adding the values, we have renamed the city file into city_complete so that our manuall changes will not be overwritten.

In [ ]:
#Now we just read in the data again with the name uni_cities
uni_cities=pd.read_excel(r"data/city_complete.xlsx")

In [ ]:
uni_cities["city"].value_counts(dropna = False)

Munich            7
Berlin            6
Heidelberg        4
Bremen            3
Kiel              3
Mannheim          2
Halle             2
Jena              2
Giessen           2
Saarbrücken       2
Dortmund          2
Konstanz          2
Rostock           2
Bielefeld         2
Hanover           2
Magdeburg         2
Potsdam           2
Osnabrück         2
Marburg           2
Braunschweig      2
Kaiserslautern    2
Augsburg          2
Lübeck            2
Hohenheim         2
Greifswald        2
Siegen            2
Bayreuth          2
Regensburg        2
Darmstadt         2
Bochum            2
Bonn              2
Freiburg          2
Tübingen          2
Frankfurt         2
Göttingen         2
Hamburg           2
Cologne           2
Münster           2
Erlangen          2
Karlsruhe         2
Würzburg          2
Dresden           2
Mainz             2
Düsseldorf        2
Ulm               2
Hannover          2
Leipzig           2
Stuttgart         2
Duisburg          2
Oldenburg         2
Aachen            1
Chemnitz          1
Name: city, dtype: int64

In [ ]:
uni_cities.head()

,Unnamed: 0,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,Munich
2,89,90,Technical University of Munich,Germany,3,52,101,2012,Munich
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,Munich
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg

In [ ]:
#Just rename the old index column if we maybe need it later to compare something
uni_cities.rename(columns={"Unnamed: 0":"old_index"}, inplace=True)

In [ ]:
#Replace "Munich" with "München" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Munich", "München")

In [ ]:
#Replace "Cologne" with "Köln" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Cologne", "Köln")

In [ ]:
#Replace "Hanover" with "Hannover" so that all cities are there with their german name 
uni_cities["city"]=uni_cities["city"].str.replace("Hanover", "Hannover")

In [ ]:
#Replace "Frankfurt" with "Frankfurt am Main" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Frankfurt", "Frankfurt am Main")

In [ ]:
#Replace "Marburg" with "Marburg Biedenkopf" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Marburg", "Marburg Biedenkopf")

In [ ]:
#Replace "Siegen" with "Siegen Wittgenstein" so that the cities in both sets are matching
uni_cities["city"]=uni_cities["city"].str.replace("Siegen", "Siegen Wittgenstein")

In [ ]:
#Replace "Hohenheim" with "Stuttgart" because the University of Hohenheim is in Stuttgart
uni_cities["city"]=uni_cities["city"].str.replace("Hohenheim", "Stuttgart")

In [ ]:
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg
...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim

##### 2.2. Appartment Data

In [ ]:
appartments

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,True,10.0,910.0,2016.0,False,True,820.0,90.00,no,False,3.0,False,Weilheim_Schongau_Kreis,Eberfing
268846,Hessen,220.00,True,NaN,1150.0,1983.0,True,False,930.0,115.00,negotiable,False,3.5,False,Bergstraße_Kreis,Viernheim
268847,Hessen,220.00,True,40.0,930.0,1965.0,False,True,650.0,95.00,negotiable,False,4.0,True,Limburg_Weilburg_Kreis,Limburg_an_der_Lahn
268848,Nordrhein_Westfalen,175.00,True,NaN,1015.0,2019.0,False,True,840.0,70.00,no,True,2.0,False,Köln,Dellbrück
268849,Hessen,315.00,True,NaN,NaN,1972.0,True,True,935.0,77.00,NaN,True,3.0,False,Frankfurt_am_Main,Sossenheim

To combine the Appartment Data with the University Data we need to adjust the City column (regio2)

In [ ]:
#First problem is that in regio2 words are seperated via "_" and not with an space
appartments["regio2"]=appartments["regio2"].str.replace("_", " ")

In [ ]:
#Next problem is that in regio2 words are seperated via "_" and not with an space
appartments["regio2"]=appartments["regio2"].str.replace("ß", "ss")

In [ ]:
#Next problem is that in regio2 "Halle" is called "Halle Saale"
appartments["regio2"]=appartments["regio2"].str.replace("Halle Saale", "Halle")

In [ ]:
#Next problem is that in regio2 "Freiburg" is called "Freiburg im Breisgau"
appartments["regio2"]=appartments["regio2"].str.replace("Freiburg im Breisgau", "Freiburg")

In [ ]:
#Next problem is that in regio2 some Citys are split into regions so we delete "Kreis" 
appartments["regio2"]=appartments["regio2"].str.replace(" Kreis", "")

In [ ]:
#Next problem is that in regio2 the city Saarbrücken is called "Stadtverband Saarbrücken" 
appartments["regio2"]=appartments["regio2"].str.replace("Stadtverband ", "")

In [ ]:
#The changes have worked
appartments["regio2"].unique()

array(['Dortmund', 'Rhein Pfalz', 'Dresden', 'Mittelsachsen', 'Bremen',
       'Schleswig Flensburg', 'Emmendingen', 'Gelsenkirchen', 'Chemnitz',
       'Südliche Weinstrasse', 'Hamm', 'Weimar', 'Main Kinzig',
       'Duisburg', 'Göttingen', 'Neumünster', 'Stuttgart', 'Leipzig',
       'München', 'Hamburg', 'Braunschweig', 'Esslingen', 'Magdeburg',
       'Schwerin', 'Passau', 'Mettmann', 'Vogtlandkreis', 'Gross Gerau',
       'Sächsische Schweiz Osterzgebirge', 'Görlitz',
       'Rheinisch Bergischer', 'Essen', 'Meissen', 'Mannheim',
       'Wesermarsch', 'Hochsauerlandkreis', 'Unna', 'Bautzen', 'Berlin',
       'Frankfurt am Main', 'Halle', 'Steinburg', 'Aschaffenburg',
       'Oder Spree', 'Bremerhaven', 'Zwickau', 'Nordsachsen',
       'Mansfeld Südharz', 'Alzey Worms', 'Giessen', 'Main Taunus',
       'Wuppertal', 'Viersen', 'Düsseldorf', 'Gera', 'Böblingen',
       'Würzburg', 'Kitzingen', 'Stendal', 'Nordvorpommern', 'Rhein Erft',
       'Mülheim an der Ruhr', 'Heilbronn', 'Hersfeld Rotenburg', 'Aachen',
       'Erzgebirgskreis', 'Baden Baden', 'Tuttlingen', 'Nürnberg',
       'Heinsberg', 'Remscheid', 'Märkisch Oderland', 'Wiesbaden',
       'Wetteraukreis', 'Kassel', 'Bielefeld', 'Salzlandkreis', 'Harburg',
       'Höxter', 'Germersheim', 'Brandenburg an der Havel', 'Aurich',
       'Herzogtum Lauenburg', 'Karlsruhe', 'Frankenthal Pfalz',
       'Rheingau Taunus', 'Nordwestmecklenburg', 'Ostvorpommern', 'Emden',
       'Rems Murr', 'Altmarkkreis Salzwedel', 'Straubing', 'Peine',
       'Paderborn', 'Düren', 'Fürstenfeldbruck', 'Kiel',
       'Unstrut Hainich', 'Ludwigslust', 'Flensburg', 'Borken', 'Krefeld',
       'Lörrach', 'Saalekreis', 'Wesel', 'Recklinghausen', 'Hagen',
       'Grafschaft Bentheim', 'Goslar', 'Bergstrasse', 'Börde', 'Potsdam',
       'Kusel', 'Burgenlandkreis', 'Holzminden', 'Bad Doberan',
       'Biberach', 'Coburg', 'Köln', 'Dessau Rosslau', 'Harz',
       'Ludwigsburg', 'Herne', 'Bad Dürkheim', 'Wittenberg', 'Fürth',
       'Eichstätt', 'Bochum', 'Pfaffenhofen an der Ilm', 'Märkischer',
       'Trier', 'Rhein Sieg', 'Hannover', 'Limburg Weilburg',
       'Mönchengladbach', 'Bonn', 'Anhalt Bitterfeld', 'Herford',
       'Neuss Rhein', 'Plauen', 'Soest', 'Erding', 'Dahme Spreewald',
       'Mainz', 'Kleve', 'Reutlingen', 'Offenbach', 'Segeberg', 'Emsland',
       'Hochtaunuskreis', 'Schwarzwald Baar', 'Oberbergischer',
       'Wunsiedel im Fichtelgebirge', 'Hildburghausen', 'Wismar',
       'Pirmasens', 'Schmalkalden Meiningen', 'Ostalbkreis',
       'Oldenburg Oldenburg', 'Mayen Koblenz', 'Ennepe Ruhr', 'Uckermark',
       'Mainz Bingen', 'Erfurt', 'Helmstedt', 'Pinneberg', 'Gütersloh',
       'Starnberg', 'Siegen Wittgenstein', 'Fulda',
       'Oberspreewald Lausitz', 'Göppingen', 'Werra Meissner', 'Lüneburg',
       'Wilhelmshaven', 'Wolfsburg', 'Northeim', 'Rhein Lahn', 'Freising',
       'Lübeck', 'Minden Lübbecke', 'Rastatt', 'Unterallgäu', 'Eisenach',
       'Spree Neisse', 'Bad Tölz Wolfratshausen', 'Rendsburg Eckernförde',
       'Augsburg', 'Neustadt a.d. Aisch Bad Windsheim', 'Oberhavel',
       'Schwalm Eder', 'Stralsund', 'Prignitz', 'Hoyerswerda',
       'Straubing Bogen', 'Darmstadt Dieburg', 'Landshut', 'Cochem Zell',
       'Bad Kreuznach', 'Solingen', 'Heidelberg', 'Hof', 'Neubrandenburg',
       'Osnabrück', 'Donau Ries', 'Güstrow', 'Plön', 'Koblenz',
       'Alb Donau', 'Heidenheim', 'Bodenseekreis', 'Teltow Fläming',
       'Westerwaldkreis', 'Celle', 'Potsdam Mittelmark', 'Hildesheim',
       'Verden', 'Rhein Neckar', 'Havelland', 'Dachau', 'Rotenburg Wümme',
       'Ostholstein', 'Pforzheim', 'Suhl', 'Stormarn', 'Eichsfeld',
       'Darmstadt', 'Regensburg', 'Nordhausen', 'Sonneberg', 'Cottbus',
       'Forchheim', 'Erlangen', 'Nienburg Weser', 'Waldeck Frankenberg',
       'Dithmarschen', 'Diepholz', 'Deggendorf', 'Oberhausen',
       'Neustadt an der Weinstrasse', 'Münster', 'Osterode am Harz',
       'Freudenstadt', 'Marburg Biedenkopf', 'Stade', 'Birkenfeld',
       'Cuxhaven', 'Rottal Inn', 'Rügen', 'Gotha', 'Offenbach am Main',
       'Saarbrücken', 'Kyffhäuserkreis', 'Freiburg', 'Ravensburg',
       'Hameln Pyrmont', 'Saalfeld Rudolstadt', 'Rostock', 'Saarlouis',
       'Parchim', 'Schwäbisch Hall', 'Bamberg', 'Weilheim Schongau',
       'Lippe', 'Müritz', 'Steinfurt', 'Traunstein', 'Ebersberg',
       'Neuwied', 'Kelheim', 'Weimarer Land', 'Saarpfalz', 'Vechta',
       'Bitburg Prüm', 'Ahrweiler', 'Greifswald', 'Calw', 'Gifhorn',
       'Uelzen', 'Altenburger Land', 'Ilm', 'Trier Saarburg', 'Lahn Dill',
       'Worms', 'Berchtesgadener Land', 'Breisgau Hochschwarzwald',
       'Oldenburg', 'Barnim', 'Erlangen Höchstadt', 'Main Spessart',
       'Rosenheim', 'Bottrop', 'Ludwigshafen am Rhein', 'Elbe Elster',
       'Warendorf', 'Mecklenburg Strelitz', 'Jerichower Land',
       'Lüchow Dannenberg', 'Greiz', 'Euskirchen', 'Kaiserslautern',
       'Salzgitter', 'Weissenburg Gunzenhausen', 'Ulm', 'Altötting',
       'Landsberg am Lech', 'Günzburg', 'Amberg Sulzbach',
       'Wartburgkreis', 'Neu Ulm', 'Lichtenfels', 'Friesland', 'Tübingen',
       'Zollernalbkreis', 'Enzkreis', 'Miltenberg', 'Schaumburg',
       'Waldshut', 'Delmenhorst', 'Bayreuth', 'Jena', 'Sömmerda',
       'Nordfriesland', 'Leer', 'Dillingen an der Donau',
       'Nürnberger Land', 'Ostprignitz Ruppin', 'Ingolstadt',
       'Bad Kissingen', 'Saale Holzland', 'Kaufbeuren', 'Speyer',
       'Ansbach', 'Ammerland', 'Rottweil', 'Mühldorf am Inn',
       'Weiden in der Oberpfalz', 'Frankfurt Oder',
       'Garmisch Partenkirchen', 'Main Tauber', 'Ostallgäu', 'Leverkusen',
       'Neumarkt in der Oberpfalz', 'Aichach Friedberg', 'Neunkirchen',
       'Coesfeld', 'Lindau Bodensee', 'Ortenaukreis', 'Rhein Hunsrück',
       'Osterholz', 'Merzig Wadern', 'Heidekreis', 'Wolfenbüttel',
       'Dingolfing Landau', 'Südwestpfalz', 'Bernkastel Wittlich',
       'Schweinfurt', 'Demmin', 'Miesbach', 'Konstanz', 'Tirschenreuth',
       'Neckar Odenwald', 'Altenkirchen Westerwald',
       'Soltau Fallingbostel', 'Landau in der Pfalz', 'Uecker Randow',
       'Zweibrücken', 'Neuburg Schrobenhausen', 'Amberg',
       'Donnersbergkreis', 'Cloppenburg', 'Hohenlohekreis', 'Roth',
       'Vulkaneifel', 'Vogelsbergkreis', 'Schwandorf', 'Cham',
       'Sigmaringen', 'Oberallgäu', 'Regen', 'Memmingen',
       'Kempten Allgäu', 'Freyung Grafenau', 'Odenwaldkreis', 'Olpe',
       'Saale Orla', 'Sankt Wendel', 'Kulmbach', 'Schwabach', 'Wittmund',
       'Hassberge', 'Rhön Grabfeld', 'Kronach', 'Neustadt a.d. Waldnaab'],
      dtype=object)

In [ ]:
#The Appartments Data is grouped by the city so we can aggregate the rent and so on per City
app_city=appartments.groupby(["regio2"])

The mean total Rent per City

In [ ]:
#Here we save the grouping of the total Rent by city as "meanofcityRent"
meanofcityRent=app_city["totalRent"].mean()
meanofcityRent

regio2
Aachen                808.837117
Ahrweiler             811.195740
Aichach Friedberg    1037.368621
Alb Donau             894.634437
Altenburger Land      454.977522
                        ...
Wuppertal             654.873826
Würzburg              906.299109
Zollernalbkreis       823.415200
Zweibrücken           605.617021
Zwickau               482.296626
Name: totalRent, Length: 394, dtype: float64

In [ ]:
#We merge the menofcityRent to the uni_cities DataFrame as new column
uni_cities.merge(meanofcityRent, right_index=True, left_on="city", how="left")

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city,totalRent
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg,1348.422541
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,München,1904.166454
2,89,90,Technical University of Munich,Germany,3,52,101,2012,München,1904.166454
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,München,1904.166454
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg,1348.422541
...,...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Stuttgart,1487.458776
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg,759.706757
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen Wittgenstein,702.158013
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück,796.577535
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim,1065.804221

The mean base rent

In [ ]:
#Here we save the grouping of the base rent by city as "meanofbaseRent"
meanofbaseRent=app_city["baseRent"].mean()
meanofbaseRent

In [ ]:
#We merge the meanofbaseRent to the uni_cities DataFrame as new column
uni_cities.merge(meanofbaseRent, right_index=True, left_on="city", how="left")

The median base rent

In [ ]:
#Here we save the grouping of the base Rent by city as "medianofbaseRent"
medianofbaseRent=app_city["baseRent"].median()
medianofbaseRent

In [ ]:
#We merge the medianofbaseRent to the uni_cities DataFrame as new column
uni_cities.merge(medianofbaseRent, right_index=True, left_on="city", how="left")

The mean living space

In [ ]:
#Here we save the grouping of the living space by city as "meanoflivingSpace"
meanoflivingSpace=app_city["livingSpace"].mean()
meanoflivingSpace

In [ ]:
#We merge the meanoflivingSpace to the uni_cities DataFrame as new column
uni_cities.merge(meanoflivingSpace, right_index=True, left_on="city", how="left")

The median living space

In [ ]:
#Here we save the grouping of living space by city as "medianoflivingSpace"
medianoflivingSpace=app_city["livingSpace"].median()
medianoflivingSpace

In [ ]:
#We merge the medianoflivingSpace to the uni_cities DataFrame as new column
uni_cities.merge(medianoflivingSpace, right_index=True, left_on="city", how="left")

The mean no. of rooms

In [ ]:
#Here we save the grouping of the no of rooms by city as "noRooms"
meanofnoRooms=app_city["noRooms"].mean()
meanofnoRooms

In [ ]:
#We merge the meanofnoRooms to the uni_cities DataFrame as new column
uni_cities.merge(meanofnoRooms, right_index=True, left_on="city", how="left")

The median no. of rooms

In [ ]:
#Here we save the grouping of no of rooms by city as "medianofnoRooms"
medianofnoRooms=app_city["noRooms"].median()
medianofnoRooms

In [ ]:
#We merge the medianofnoRooms to the uni_cities DataFrame as new column
uni_cities.merge(medianofnoRooms, right_index=True, left_on="city", how="left")

In [ ]:
#end