# Data Creation

### 1. Reading in the Data

In [2]:
import pandas as pd           #Initialising the needed libaries

In [10]:
#Data with the Universities
data = pd.read_csv(r"data\cwurData.csv", usecols = ['world_rank',"institution","country", "national_rank", "quality_of_education", "quality_of_faculty", "year"])

In [15]:
#Data with Appartment Info
appartments = pd.read_csv(r"data/immo_data.csv", usecols = ['regio1','serviceCharge','balcony','telekomUploadSpeed','totalRent', "yearConstructed", "hasKitchen","cellar", "baseRent","livingSpace","petsAllowed", "lift","noRooms", "garden", "regio2", "regio3" ])

In [13]:
#Data with Population Info
population_data=pd.read_csv("data/Deutschland_Cities.csv")

In [16]:
data.head()

,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year
0,1,Harvard University,USA,1,7,1,2012
1,2,Massachusetts Institute of Technology,USA,2,9,3,2012
2,3,Stanford University,USA,3,17,5,2012
3,4,University of Cambridge,United Kingdom,1,10,4,2012
4,5,California Institute of Technology,USA,4,2,7,2012

In [17]:
appartments.head()

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen

In [18]:
population_data.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0

### 2. Preparing the Data

##### 2.1. Universities

In [22]:
#Shrinking the Dataset to just Universities from Germany
data = data[data["country"] == "Germany"]

In [24]:
#Creating a "city"-column via the city names inside the institution names
regex = "(University of [a-zA-ZüäöÖÄÜ]+)"
data["city"] = data["institution"].str.extract(regex)
data["city"] = data["city"].str.replace("University of ", "")
data.loc[data["city"].str.contains("technology", case = False, na = False), "city"] = pd.NA

In [26]:
#Problem: There are still NaN Values, but only 30 
data["city"].value_counts(dropna = False)

NaN           30
Munich         7
Berlin         6
Heidelberg     4
Mannheim       2
Siegen         2
Osnabrück      2
Greifswald     2
Hohenheim      2
Lübeck         2
Jena           2
Bremen         2
Bayreuth       2
Potsdam        2
Halle          2
Hanover        2
Rostock        2
Konstanz       2
Dortmund       2
Augsburg       2
Regensburg     2
Marburg        2
Münster        2
Bonn           2
Freiburg       2
Tübingen       2
Göttingen      2
Hamburg        2
Cologne        2
Erlangen       2
Duisburg       2
Würzburg       2
Kiel           2
Mainz          2
Düsseldorf     2
Ulm            2
Stuttgart      2
Oldenburg      2
Name: city, dtype: int64

In [27]:
#So we added the missing Values just manually (Manually because of names like "Dresden University of Technology" or "Justus Liebig University Giessen" which are to different to use the other method )
data.to_excel("data/city.xlsx")

After manually adding the values, we have renamed the city file into city_complete so that our manuall changes will not be overwritten.

In [29]:
#Now we just read in the data again with the name uni_cities
uni_cities=pd.read_excel(r"data/city_complete.xlsx")

In [32]:
uni_cities["city"].value_counts(dropna = False)

Munich            7
Berlin            6
Heidelberg        4
Bremen            3
Kiel              3
Mannheim          2
Halle             2
Jena              2
Giessen           2
Saarbrücken       2
Dortmund          2
Konstanz          2
Rostock           2
Bielefeld         2
Hanover           2
Magdeburg         2
Potsdam           2
Osnabrück         2
Marburg           2
Braunschweig      2
Kaiserslautern    2
Augsburg          2
Lübeck            2
Hohenheim         2
Greifswald        2
Siegen            2
Bayreuth          2
Regensburg        2
Darmstadt         2
Bochum            2
Bonn              2
Freiburg          2
Tübingen          2
Frankfurt         2
Göttingen         2
Hamburg           2
Cologne           2
Münster           2
Erlangen          2
Karlsruhe         2
Würzburg          2
Dresden           2
Mainz             2
Düsseldorf        2
Ulm               2
Hannover          2
Leipzig           2
Stuttgart         2
Duisburg          2
Oldenburg         2
Aachen            1
Chemnitz          1
Name: city, dtype: int64

In [30]:
uni_cities.head()

,Unnamed: 0,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,Munich
2,89,90,Technical University of Munich,Germany,3,52,101,2012,Munich
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,Munich
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg

In [31]:
#Just rename the old index column if we maybe need it later to compare something
uni_cities.rename(columns={"Unnamed: 0":"old_index"}, inplace=True)

In [33]:
uni_cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,Munich
2,89,90,Technical University of Munich,Germany,3,52,101,2012,Munich
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,Munich
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg
...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Hohenheim
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim

##### 2.2. Appartment Data

In [34]:
appartments

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,True,10.0,910.0,2016.0,False,True,820.0,90.00,no,False,3.0,False,Weilheim_Schongau_Kreis,Eberfing
268846,Hessen,220.00,True,NaN,1150.0,1983.0,True,False,930.0,115.00,negotiable,False,3.5,False,Bergstraße_Kreis,Viernheim
268847,Hessen,220.00,True,40.0,930.0,1965.0,False,True,650.0,95.00,negotiable,False,4.0,True,Limburg_Weilburg_Kreis,Limburg_an_der_Lahn
268848,Nordrhein_Westfalen,175.00,True,NaN,1015.0,2019.0,False,True,840.0,70.00,no,True,2.0,False,Köln,Dellbrück
268849,Hessen,315.00,True,NaN,NaN,1972.0,True,True,935.0,77.00,NaN,True,3.0,False,Frankfurt_am_Main,Sossenheim