In [ ]:
import pandas as pd

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv(r"C:\Users\jaho3\OneDrive\Documents\GitHub\group-3\archive\cwurData.csv")
# data = pd.read_csv("cwurData.csv")
data = data[data["country"] == "Germany"]

In [28]:
regex = "(University of [a-zA-ZüäöÖÄÜ]+)"
data["city"] = data["institution"].str.extract(regex)
data["city"] = data["city"].str.replace("University of ", "")
data.loc[data["city"].str.contains("technology", case = False, na = False), "city"] = pd.NA

In [30]:
data["city"].value_counts(dropna = False)

NaN           30
Munich         7
Berlin         6
Heidelberg     4
Halle          2
Düsseldorf     2
Göttingen      2
Hohenheim      2
Potsdam        2
Regensburg     2
Würzburg       2
Kiel           2
Marburg        2
Münster        2
Hanover        2
Dortmund       2
Siegen         2
Tübingen       2
Oldenburg      2
Stuttgart      2
Bayreuth       2
Rostock        2
Ulm            2
Konstanz       2
Bonn           2
Freiburg       2
Augsburg       2
Duisburg       2
Lübeck         2
Bremen         2
Greifswald     2
Cologne        2
Osnabrück      2
Hamburg        2
Mainz          2
Mannheim       2
Jena           2
Erlangen       2
Name: city, dtype: int64

In [24]:
data[data["institution"].str.contains("Osnabr")]

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,city
1108,909,University of Osnabrück,Germany,53,355,478,210,841,628,800,849.0,737,44.38,2014,Osnabr
2075,876,University of Osnabrück,Germany,54,367,567,218,844,654,511,826.0,871,44.15,2015,Osnabr

In [ ]:

filt.describe()

In [ ]:
filt = data[(data["country"] == "Germany") & (data["year"] <= 2014)]
filt

In [ ]:
filt.describe()